/* div{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
} */
p{
    width: 100px;
    height: 100px;
    background-color:cadetblue ;
    border:  3px solid blue; 
    border-radius: 50px;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    animation-name: nune;
    
}  

@keyframes nune{
    0%{
        transform: translate(0vw,40vh);
    }
    25%{
        transform: translate(40vw,0vh);
    }
    50%{
        transform: translate(100vw,50vh);

    }
    75%{
        transform: translate(50vw,100vh);
    }
    100%{
        transform: translate(0px,30vh);
    }
}