
body{
    background-color: black;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#navleft{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding-left: 20px;
}
#navleft span{
    color: white;
    font-size: larger;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#navleft button{
    border-radius: 5px;
    height: 35px;
    background-color: lightskyblue;
}
#main{
    padding: 80px;
    text-align: center;
    color: white;

}
#main h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}
#main span{
    color: lightskyblue;
}
#main1 {
    display: flex;
   justify-content: center;
    gap: 25px;
}
#main1 button{
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 5px;

}