.VK{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ME{
    display: flex;
     gap: 5px;
}
@media screen  and (min-width:150px) and (max-width:400px){
    body{
        background-color: aquamarine;
    }
    .ME{
        font-size: 2rem;
        justify-content: center;
        flex-direction: column;
         
         
    }
    .VK{
        justify-content: center;
        flex-direction: column;
       
    } 

}
@media screen  and (min-width:401px) and (max-width:768px){
    body{
        background-color: blueviolet;
    }
    .ME{
         font-size: 2rem; 
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    
    }
    .VK{
        border-radius: 60vw;
        justify-content: center;
        flex-direction: column;
    }
    
}
@media screen  and (min-width:769px) and (max-width:1440px){
    body{
        background-color: cadetblue;
    }
    .ME{
        font-size: 4rem; 
        justify-content: center;
        flex-direction: row;
    
    }
    .VK{
        border-radius: 60vw;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }
    
}

