div{
    background-color: linen;
    color: black;
    width: 95%;
    
}
center{
    background-color: antiquewhite;
    color: black;

}
#mani{
    background-color: beige;
    color: black;
}
#suri{
    background-color: bisque;
    color: black;
}
#sagar{
    background-color: burlywood;
    color: black;
}
#hob{
    background-color: wheat;
    color: black;
}
#prif{
    background-color: lightgray;
    color: black;
}